* {
    margin: 0;
    font-family: 'VT323', 'Trebuchet MS', Arial, sans-serif;
}

body {
    overflow: hidden; 
    position: relative;
}

.top{
    background-color: #0d334e;
    color: 	#ffe505;
    height: 10vh;
    font-size: 3rem;
    text-align: center;
}

.left { grid-area: left; }
.middle { grid-area: middle; }
.right { grid-area: right; }


.game-top {
    background-color: #092437;
    height: 10vh;  
    display: grid;
    
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-areas: 'left middle right';
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: end;
}

.left, .middle, .right {
    display: flex;
    flex-direction: column;
    text-align: center;
}



.game-top h1 {
    color: rgb(173, 173, 173);
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

#whoWon {
    height: 0vh;
    position: absolute;
    left: 0%;
    /* human: left: 46%; */
    /* tie: left: 45.5%; */
    /* robot: left: 45.5%; */
    top: 0vh;
    /* human: top: 15vh */
    /* tie: top: 34vh */
    /* robot: top: -2vh */
    display: flex;
    flex-direction: column;

    pointer-events: none;
}

#whoWon p {
    font-size: 8rem;
    opacity: 0;
    z-index: 0;
}

.game {
    background-color: #092437;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    /* gap: 30rem; */
    
    pointer-events: none;
    
}

.game p {
    text-align: center;
    font-size: 13rem;
    padding: 10rem, 10rem;
    width: 100%;
    padding-top: 3rem;
    opacity: 0;
}

.game img {
    height: 26rem;
    width: auto;
    
    z-index: 10;
    opacity: 0;
    scale: 0.5;

    /*  */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /*  */
}

.hero {
    background-color: #092437;
    height: 20vh;
 
}

.buttons {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-left: 20rem;
    padding-right: 20rem;
    gap: 5rem;
}

#btnRock, #btnPaper, #btnScissors {
    font-size: 5rem;
    padding: 10rem, 10rem;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;

    background-color: #0d334e;
    border: 0;
}

#btnRock:hover, #btnPaper:hover, #btnScissors:hover {
    background-color: #103c5c;
}

.score {
    height: 15vh;
    background-color: #092437;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.score p {
    font-size: 3rem;
    color: rgb(173, 173, 173);
    letter-spacing: 0.2rem;
    
}

.score a {
    font-size: 3rem;
    color: rgb(173, 173, 173);
    
}

.footer {
    height: 5vh;
    background-color: #092437;
    text-align: center;
    font-size: 1.5rem;
    
}

.footer p{
    font-family: 'Trebuchet MS', Arial, sans-serif; 
    color: cornsilk;  
}

/* //////////////////////////////////////// */

#selection.move {
    transition-duration: 5s;
    transform:  translateX(calc(40vw - 150px)) rotate(30deg) scale(0.8);
    
}

#computerSelection.move {
    transition-duration: 5s;
    transform:  translateX(calc(-40vw + 150px)) rotate(-30deg) scale(0.8);
}

#image.move {
    transition-duration: 2.5s;
    opacity: 1;
    transform: rotate(1440deg);
    scale: 1.3;
}

#image.back {
    transition-duration: 0.5s;
    opacity: 0;
    scale: 0;
}

#selection.back {
    transition-duration: 0s;
    opacity: 0;
    scale: 0;
    transition-property:none;
}

#computerSelection.back {
    transition-duration: 0s;
    opacity: 0;
    scale: 0;
    transition-property:none;
}

#human.move {
    transition-duration: 1.5s;
    transform: translateY(90vh);
    opacity: 0;
    
}

#robot.move {
    transition-duration: 1.5s;
    transform: translateY(90vh);
    opacity: 0;
    
}
#tie.move {
    transition-duration: 1.5s;
    transform: translateY(90vh);
    opacity: 0;
    
}

#restart {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    background-color: #103c5c;
    padding: 5rem 8rem;
    border-radius: 10px;
    z-index: 1;
    border: 15px groove #ffe505;
    box-shadow: inset 0px 0px 20px 40px#0c2e47;
    align-items: center;
    justify-content: center;

    pointer-events: none;
    opacity: 1;
    scale: 0;
    transform-origin: center;
}


.winner {
    font-size: 7rem;
    text-align: center;
    letter-spacing: 0.3rem;
    color: rgb(173, 173, 173);
    
}

#again {
    font-size: 4rem;
    background-color: #0c2e47;
    border: 0px;
    padding: 1rem 1rem;
    border-radius:5px;
    cursor: pointer;
    margin-top: 2rem;
}

#again:hover {
    background-color: #0d334e;
}

#black {
    position: absolute;
    top: 0vh;
    left: 0vh;
    background-color: black;
    padding: 100rem 200rem;

    z-index: 0;
    
    pointer-events: none;
    opacity: 0;
}


#restart.move {
    transition-duration: 1.5s;
    
    scale: 1;
}

#black.move {
    transition-duration: 1.5s;
    opacity: 0.8;
}

#lazer {
    position: absolute;
    top: 20vh;
    rotate: -30deg;
    left: 100vh;
    scale: 0.3;
    

    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transform: translateY(0) translateX(0);
}

/* /////////// */

#lazer:hover {
    transition-duration: 0.3s;
    
    transform: translateY(-150vh) translateX(70vh);
}